# Postgres
POSTGRES_USER=devops
POSTGRES_PASSWORD=devops123
POSTGRES_DB=suppliers_db
POSTGRES_PORT=5432

# API
API_PORT=3000
DB_HOST=postgres
DB_PORT=5432

# Front
FRONT_PORT=8080
VITE_API_URL=http://localhost:3000